# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual env
.venv/
venv/
env/

# Environment
.env
.env.production
.env.staging
.envrc

# Tests
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Build
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.DS_Store

# Misc
poetry.toml
